In [ ]:
# Empty cells
# Wrong format
# Wrong Data
# Duplicate rows

In [79]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.to_string())

    Duration           Date   Pulse  Maxpulse  Caories
0         60   '2020/12/01'     110       130    409.1
1         60   '2020/12/02'     117       145    479.0
2         60   '2020/12/03'     103       135    340.0
3         45   '2020/12/04'     109       175    282.4
4         45   '2020/12/05'     117       148    406.0
5         60   '2020/12/06'     102       127    300.0
6         60   '2020/12/07'     110       136    374.0
7        450   '2020/12/08'     104       134    253.3
8         30   '2020/12/09'     109       133    195.1
9         60   '2020/12/10'      98       124    269.0
10        60   '2020/12/11'     103       147    329.3
11        60   '2020/12/12'     100       120    250.7
12        60   '2020/12/12'     100       120    250.7
13        60   '2020/12/13'     106       128    345.3
14        60   '2020/12/14'     104       132    379.3
15        60   '2020/12/15'      98       123    275.0
16        60   '2020/12/16'      98       120    215.2
17        60   '2020/12/17'     100       120    300.0
18        45   '2020/12/18'      90       112      NaN
19        60   '2020/12/19'     103       123    323.0
20        45   '2020/12/20'      97       125    243.0
21        60   '2020/12/21'     108       131    364.2
22        45            NaN     100       119    282.0
23        60   '2020/12/23'     130       101    300.0
24        45   '2020/12/24'     105       132    246.0
25        60   '2020/12/25'     102       126    334.5
26        60       20201226     100       120    250.0
27        60   '2020/12/27'      92       118    241.0
28        60   '2020/12/28'     103       132      NaN
29        60   '2020/12/29'     100       132    280.0
30        60   '2020/12/30'     102       129    380.3
31        60   '2020/12/31'      92       115    243.0

# Empty Cells

In [92]:
new_df = df.dropna()
#df.dropna(inplace=True)
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2    Pulse    29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Caories   29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [93]:
new_df2 = df.fillna(-1)
print(new_df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     object
 2    Pulse    32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Caories   32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [113]:
new_df3 = df.copy(deep=True)  # by default, deep=True
mean = new_df3 ["Calories"].mean() # median()  or mode()
print(mean)
new_df3 ["Calories"].fillna(mean,inplace=True)
print(new_df3 .to_string())

304.68
    Duration           Date   Pulse  Maxpulse  Calories
0         60   '2020/12/01'     110       130    409.10
1         60   '2020/12/02'     117       145    479.00
2         60   '2020/12/03'     103       135    340.00
3         45   '2020/12/04'     109       175    282.40
4         45   '2020/12/05'     117       148    406.00
5         60   '2020/12/06'     102       127    300.00
6         60   '2020/12/07'     110       136    374.00
7        450   '2020/12/08'     104       134    253.30
8         30   '2020/12/09'     109       133    195.10
9         60   '2020/12/10'      98       124    269.00
10        60   '2020/12/11'     103       147    329.30
11        60   '2020/12/12'     100       120    250.70
12        60   '2020/12/12'     100       120    250.70
13        60   '2020/12/13'     106       128    345.30
14        60   '2020/12/14'     104       132    379.30
15        60   '2020/12/15'      98       123    275.00
16        60   '2020/12/16'      98       120    215.20
17        60   '2020/12/17'     100       120    300.00
18        45   '2020/12/18'      90       112    304.68
19        60   '2020/12/19'     103       123    323.00
20        45   '2020/12/20'      97       125    243.00
21        60   '2020/12/21'     108       131    364.20
22        45            NaN     100       119    282.00
23        60   '2020/12/23'     130       101    300.00
24        45   '2020/12/24'     105       132    246.00
25        60   '2020/12/25'     102       126    334.50
26        60       20201226     100       120    250.00
27        60   '2020/12/27'      92       118    241.00
28        60   '2020/12/28'     103       132    304.68
29        60   '2020/12/29'     100       132    280.00
30        60   '2020/12/30'     102       129    380.30
31        60   '2020/12/31'      92       115    243.00

# Wrong Format

In [115]:
df = pd.read_csv('data.csv')
print(df['Date'])

0      '2020/12/01'
1      '2020/12/02'
2      '2020/12/03'
3      '2020/12/04'
4      '2020/12/05'
5      '2020/12/06'
6      '2020/12/07'
7      '2020/12/08'
8      '2020/12/09'
9      '2020/12/10'
10     '2020/12/11'
11     '2020/12/12'
12     '2020/12/12'
13     '2020/12/13'
14     '2020/12/14'
15     '2020/12/15'
16     '2020/12/16'
17     '2020/12/17'
18     '2020/12/18'
19     '2020/12/19'
20     '2020/12/20'
21     '2020/12/21'
22              NaN
23     '2020/12/23'
24     '2020/12/24'
25     '2020/12/25'
26         20201226
27     '2020/12/27'
28     '2020/12/28'
29     '2020/12/29'
30     '2020/12/30'
31     '2020/12/31'
Name: Date, dtype: object

In [117]:
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'])

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [118]:
df.dropna(subset=['Date'],inplace=True)
print(df['Date'])

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

# Wrong Data

In [129]:
df = pd.read_csv('data.csv')
print(df.to_string())

    Duration           Date   Pulse  Maxpulse  Calories
0         60   '2020/12/01'     110       130     409.1
1         60   '2020/12/02'     117       145     479.0
2         60   '2020/12/03'     103       135     340.0
3         45   '2020/12/04'     109       175     282.4
4         45   '2020/12/05'     117       148     406.0
5         60   '2020/12/06'     102       127     300.0
6         60   '2020/12/07'     110       136     374.0
7        450   '2020/12/08'     104       134     253.3
8         30   '2020/12/09'     109       133     195.1
9         60   '2020/12/10'      98       124     269.0
10        60   '2020/12/11'     103       147     329.3
11        60   '2020/12/12'     100       120     250.7
12        60   '2020/12/12'     100       120     250.7
13        60   '2020/12/13'     106       128     345.3
14        60   '2020/12/14'     104       132     379.3
15        60   '2020/12/15'      98       123     275.0
16        60   '2020/12/16'      98       120     215.2
17        60   '2020/12/17'     100       120     300.0
18        45   '2020/12/18'      90       112       NaN
19        60   '2020/12/19'     103       123     323.0
20        45   '2020/12/20'      97       125     243.0
21        60   '2020/12/21'     108       131     364.2
22        45            NaN     100       119     282.0
23        60   '2020/12/23'     130       101     300.0
24        45   '2020/12/24'     105       132     246.0
25        60   '2020/12/25'     102       126     334.5
26        60       20201226     100       120     250.0
27        60   '2020/12/27'      92       118     241.0
28        60   '2020/12/28'     103       132       NaN
29        60   '2020/12/29'     100       132     280.0
30        60   '2020/12/30'     102       129     380.3
31        60   '2020/12/31'      92       115     243.0

In [130]:
print("Before:",df.loc[7,'Duration'])
df.loc[7,'Duration'] = 45
print("After:",df.loc[7,'Duration'])

Before: 450
After: 45

In [132]:
df = pd.read_csv('data.csv')
print("Before:",df.loc[7,'Duration'])
for x in df.index:
    if df.loc[x,"Duration"] > 120:
        df.loc[x,"Duration"] = 120
print("After:",df.loc[7,'Duration'])

Before: 450
After: 120

In [134]:
df = pd.read_csv('data.csv')
for x in df.index:
    if df.loc[x,"Duration"] > 120:
        df.drop(x, inplace=True)
print(df.to_string())

    Duration           Date   Pulse  Maxpulse  Calories
0         60   '2020/12/01'     110       130     409.1
1         60   '2020/12/02'     117       145     479.0
2         60   '2020/12/03'     103       135     340.0
3         45   '2020/12/04'     109       175     282.4
4         45   '2020/12/05'     117       148     406.0
5         60   '2020/12/06'     102       127     300.0
6         60   '2020/12/07'     110       136     374.0
8         30   '2020/12/09'     109       133     195.1
9         60   '2020/12/10'      98       124     269.0
10        60   '2020/12/11'     103       147     329.3
11        60   '2020/12/12'     100       120     250.7
12        60   '2020/12/12'     100       120     250.7
13        60   '2020/12/13'     106       128     345.3
14        60   '2020/12/14'     104       132     379.3
15        60   '2020/12/15'      98       123     275.0
16        60   '2020/12/16'      98       120     215.2
17        60   '2020/12/17'     100       120     300.0
18        45   '2020/12/18'      90       112       NaN
19        60   '2020/12/19'     103       123     323.0
20        45   '2020/12/20'      97       125     243.0
21        60   '2020/12/21'     108       131     364.2
22        45            NaN     100       119     282.0
23        60   '2020/12/23'     130       101     300.0
24        45   '2020/12/24'     105       132     246.0
25        60   '2020/12/25'     102       126     334.5
26        60       20201226     100       120     250.0
27        60   '2020/12/27'      92       118     241.0
28        60   '2020/12/28'     103       132       NaN
29        60   '2020/12/29'     100       132     280.0
30        60   '2020/12/30'     102       129     380.3
31        60   '2020/12/31'      92       115     243.0

# Duplicate Rows

In [137]:
df = pd.read_csv('data.csv')
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [140]:
df.drop_duplicates(inplace=True)
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool